<HEAD>
<TITLE>WebTodo</TITLE>
<META HTTP-EQUIV="Refresh" CONTENT="1;URL=/cgi-bin/todo/list">
</HEAD>
<BODY>
<H1>WebTodo</H1>
<P>
A META Refresh should take you to the list soon.  If it doesn't,
<A HREF="/cgi-bin/todo/list">this is where you want to be</A>.
</P>
</BODY>
</HTML>
