@section config
<HTML>
<HEAD><TITLE>User preferences: @{user}</TITLE>
<script>
function popup(col)
  {
  window.open('@{Todo::Config::setcolour_cgi}?whichcolour='+col,'colourpicker','width=320,height=140');
  }
</script>
</HEAD>
<BODY BGCOLOR=#ffffff VLINK=black LINK=black>
<TABLE WIDTH=100%><TR><TD BGCOLOR=#000000>
<IMG SRC="/todo/images/banner.png" ALT="WebTodo">
</TD></TR></TABLE>

<FORM ACTION="@{Todo::Config::config_cgi}" METHOD="POST"> <!-- ENCTYPE="application/x-www-form-urlencoded" -->
<P><B>Default list: </B> @{listspopup}</P>
<P><B>Default list to add to: </B> @{dfladdpopup}</P>
<P><B>Sort order: </B> @{sortpopup}
Custom sort: <INPUT TYPE="text" NAME="ssort" VALUE="@{sort}" SIZE=8 MAXLENGTH=8>
</P>
<P><B>After edit, go to: </B> @{gobackpopup}</P>
<P><B>Default to secret edits?
<INPUT TYPE="checkbox" NAME="secret" VALUE="1" @{secret}></P>
<P><B>Check this to reverse order of event lists:
<INPUT TYPE="checkbox" NAME="evdir" VALUE="1" @{evdir}></P>
<P><B>Change BACKGROUND colours for:</B><BR>
<script language="Javascript">
var jsver="1.0";
</script>
<script language="Javascript1.1">
jsver="1.1";
<!-- 
document.write('<table border=2>\n');
document.write('<tr><td>&nbsp;</td><th>Not urgent</th><th>Mildly urgent</th><th>Urgent</th></tr>\n');
document.write('<tr><th>In progress</th>');
document.write('<td bgcolor="@{colours[0]}"><a href="javascript:popup(0)"><font color="@{revcolours[0]}"><img border=0 src="@{colourimage[0]}" width="100" height="20"></font></a></td>');
document.write('<td bgcolor="@{colours[1]}"><a href="javascript:popup(1)"><font color="@{revcolours[1]}"><img border=0 src="@{colourimage[1]}" width="100" height="20"></font></a></td>');
document.write('<td bgcolor="@{colours[2]}"><a href="javascript:popup(2)"><font color="@{revcolours[2]}"><img border=0 src="@{colourimage[2]}" width="100" height="20"></font></a></td>');
document.write('</tr>\n');
document.write('<tr><th>Pending</th>');
document.write('<td bgcolor="@{colours[3]}"><a href="javascript:popup(3)"><font color="@{revcolours[3]}"><img border=0 src="@{colourimage[3]}" width="100" height="20"></font></a></td>');
document.write('<td bgcolor="@{colours[4]}"><a href="javascript:popup(4)"><font color="@{revcolours[4]}"><img border=0 src="@{colourimage[4]}" width="100" height="20"></font></a></td>');
document.write('<td bgcolor="@{colours[5]}"><a href="javascript:popup(5)"><font color="@{revcolours[5]}"><img border=0 src="@{colourimage[5]}" width="100" height="20"></font></a></td>');
document.write('<tr><th>Done</th>');
document.write('<td bgcolor="@{colours[6]}"><a href="javascript:popup(6)"><font color="@{revcolours[6]}"><img border=0 src="@{colourimage[6]}" width="100" height="20"></font></a></td>');
document.write('<td bgcolor="@{colours[7]}"><a href="javascript:popup(7)"><font color="@{revcolours[7]}"><img border=0 src="@{colourimage[7]}" width="100" height="20"></font></a></td>');
document.write('<td bgcolor="@{colours[8]}"><a href="javascript:popup(8)"><font color="@{revcolours[8]}"><img border=0 src="@{colourimage[8]}" width="100" height="20"></font></a></td>');
document.write('</table>\n');
// -->
</script>
<script language="Javascript">
if(jsver != '1.1')
  {
  document.writeln('<INPUT TYPE="text" NAME="bgcolours0" VALUE="@{bgcolours0}" SIZE=48>In progress<BR>');
  document.writeln('<INPUT TYPE="text" NAME="bgcolours1" VALUE="@{bgcolours1}" SIZE=48>Pending<BR>');
  document.writeln('<INPUT TYPE="text" NAME="bgcolours2" VALUE="@{bgcolours2}" SIZE=48>Done');
  }
</script>
<noscript>
<INPUT TYPE="text" NAME="bgcolours0" VALUE="@{bgcolours0}" SIZE=48>In progress<BR>
<INPUT TYPE="text" NAME="bgcolours1" VALUE="@{bgcolours1}" SIZE=48>Pending<BR>
<INPUT TYPE="text" NAME="bgcolours2" VALUE="@{bgcolours2}" SIZE=48>Done
</noscript>
</P>
<!-- P><B>Change FOREGROUND colours for:</B><BR>
<INPUT TYPE="text" NAME="fgcolours0" VALUE="@{fgcolours0}" SIZE=48>In progress<BR>
<INPUT TYPE="text" NAME="fgcolours1" VALUE="@{fgcolours1}" SIZE=48>Pending<BR>
<INPUT TYPE="text" NAME="fgcolours2" VALUE="@{fgcolours2}" SIZE=48>Done
</P -->
<INPUT TYPE="submit" NAME="Configure me, baby!" VALUE="Configure me, baby!">
@{hiddenvalues}
</FORM>
<H2>Note about sort orders</H2>
<P>
You can sort by various attributes, in order.  For example, a sort order of
"sm" will sort first by state (normal, pending, done) and then by last
modification time.  To reverse the order of an attribute, capitalise the
letter (eg, "Sm" will put the done tasks first).
</P>
<TABLE>
<TR><TD><B>s</B></TD><TD>State</TD></TR>
<TR><TD><B>m</B></TD><TD>Modification time</TD></TR>
<TR><TD><B>p</B></TD><TD>Priority</TD></TR>
<TR><TD><B>b</B></TD><TD>Due date (<EM>b</EM>est-before-end)</TD></TR>
<TR><TD><B>t</B></TD><TD>Ticket number</TD></TR>
<TR><TD><B>u</B></TD><TD>Assignation</TD></TR>
<TR><TD><B>a</B></TD><TD>Subject</TD></TR>
</TABLE>
@end
